/* master elements */
:root {
  /* colours derived from material.foundation.github.io/material-theme-builder */
  --lsec-pink: #ec008c;
  --lsec-pink-primary: #b8006a;
  --lsec-pink-primary-on: #ffffff;
  --lsec-pink-primary-container: #ffd9e6;
  --lsec-pink-primary-container-on: #3e0020;

  --apprentice-blue: #00bdf2;
  --apprentice-blue-primary: #006685;
  --apprentice-blue-primary-on: #ffffff;
  --apprentice-blue-primary-container: #bce9ff;
  --apprentice-blue-primary-container-on: #001f2a;

  --background: #fbfdfd;
  --background-on: #191c1d;
  --surface-variant: #E7E0EC;
  --surface-variant-on: #49454F;

  background-color: var(--background);
  color: var(--background-on);
  font-family: "Nunito Sans", sans-serif;
  font-size: 100%;
}
body {
  margin-left: 1.5ch;
}
h3 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem;
  margin: 0.5em 0 0.5em;
  text-transform: uppercase;
  min-width: 15rem;
}
abbr, dfn {
  font-style: normal;
  text-decoration: none;
}
abbr {
  cursor: help;
}
small {
  font-size: 0.7em;
  text-transform: none;
}

/* form formatting */
form {
  border-left: 4px solid var(--lsec-pink);
}
form div {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  line-height: 1.3rem;
  margin-bottom: 0.2rem;
  width: 17rem;
  padding: 0.5rem;
}
label {
  text-align: center;
  width: 9rem;
}
input {
  background-color: var(--surface-variant);
  color: var(--surface-variant-on);
  border: none;
  border-radius: 5px;
  display: flex;
  flex-shrink: 0;
  font-size: 1.1rem;
  height: 2.2rem;
  text-align: center;
  width: 6em;
}
input:focus {
  outline-color: var(--lsec-pink);
}
input[readonly] {
  background-color: var(--lsec-pink-primary-container);
  color: var(--lsec-pink-primary-container-on);
  outline: none;
}
.button {
  background-color: var(--lsec-pink-primary);
  border: none;
  border-radius: 5px;
  color: var(--lsec-pink-primary-on);
  font-size: 1rem;
  height: 2.2rem;
  padding: 0 1.5ch;
  width: auto;
}
button:active {
  color: var(--surface-variant-on);
  transform: translate(0, 1px);
}
.success * {
  animation-delay: 2s;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation-name: success;
}

/* animation */
@keyframes success {
  from {color: var(--lsec-pink)}
  to {color: var(--background-on)}
}