/* master elements */
:root {
  /* colours derived from material.foundation.github.io/material-theme-builder */
  --highlight: #ec008c;
  --primary: #ffb0ce;
  --primary-on: #640037;
  --primary-container: #8d0050;
  --primary-container-on: #ffd9e6;

  --background: #191c1d;
  --background-on: #e0e3e3;
  --surface-variant: #49454F;
  --surface-variant-on: #CAC4D0;

  background-color: var(--background);
  color: var(--background-on);
  font-family: "Nunito Sans", sans-serif;
  font-size: 100%;
}
body {
  margin-left: 1.5ch;
}
h3 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem;
  margin: 0.5em 0 0.5em;
  text-transform: uppercase;
  min-width: 15rem;
}
abbr, dfn {
  font-style: normal;
  text-decoration: none;
}
abbr {
  cursor: help;
}
small {
  font-size: 0.7em;
  text-transform: none;
}

/* form formatting */
form {
  border-left: 4px solid var(--highlight);
}
form div {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  line-height: 1.3rem;
  margin-bottom: 0.2rem;
  width: 17rem;
  padding: 0.5rem;
}
label {
  text-align: center;
  width: 9rem;
}
input {
  background-color: var(--surface-variant);
  color: var(--surface-variant-on);
  border: none;
  border-radius: 5px;
  display: flex;
  flex-shrink: 0;
  font-size: 1.1rem;
  height: 2.2rem;
  text-align: center;
  width: 6em;
}
input:focus {
  outline-color: var(--highlight);
}
input[readonly] {
  background-color: var(--primary-container);
  color: var(--primary-container-on);
  outline: none;
}
.button {
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  color: var(--primary-on);
  font-size: 1rem;
  height: 2.2rem;
  padding: 0 1.5ch;
  width: auto;
}
button:active {
  color: var(--surface-variant-on);
  transform: translate(0, 1px);
}
.success * {
  animation-delay: 2s;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation-name: success;
}

/* animation */
@keyframes success {
  from {color: var(--highlight)}
  to {color: var(--background-on)}
}